 {% include "menu.html" %}




<div class="container">
  <h3>ALPHA BLOG  PAGE</h3>
  <p>Our app home page with navigation bar is a navigation header that is placed at the top of the page.</p>


<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    
   <div class="panel panel-primary">
   
      <div class="panel-heading"><h4>{{xc.title}} </h4></div>
      <div class="panel-body"> {{xc.content}}
          
      
         </div>
  <div class="panel-footer">  Written by : {{xc.author}}
       on the  {{xc.date}}</div>
    </div> 
    
    
    </div>
  <div class="col-sm-2"> Side Bar </div>
</div>


</div>


 
<footer class="container-fluid text-center">
  <p>Alpha blog Footer Copyright 2020</p>
</footer>