 {% include "menu.html" %}
<hr>



<div class="container">
  <h3>CONTACT PAGE</h3>
  <p>Our app contact page with navigation bar and contact form is a navigation header that is placed at the top of the page.</p>
</div>
<hr>

<div class="container">
  <h2>Contact Us we love to hear from you !</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>